---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About Me">
  <Page title="About Me">
    <p>
      I’ve been fortunate to have the opportunity to study computer science, a field I’m deeply passionate about. My programming journey began at the age of 16, when I started learning C++ and Visual Basic. It was an exciting time for me as I explored the basics of coding. Not long after, I ventured into creating my own projects, even with limited programming knowledge. Among those projects, I developed a video game using Phaser and an interactive application with CocosCreator.
    </p>

    <p>
      When I entered university, I shifted my focus toward understanding the theoretical aspects of software development. However, while studying, I also worked part-time as a software developer at a small company. At the time, I only had a basic understanding of HTML, CSS, and JavaScript, but this experience introduced me to my main passion: Angular. During my time there, I gained valuable experience by maintaining an accounting software system and developing other applications, such as a call center platform and a statistics dashboard.
    </p>

    <p>
      After graduating, I decided to pursue a full-time role and joined the Tren Maya National Project. This experience was truly transformative, as I had the privilege of collaborating with talented individuals who helped me further develop my technical and teamwork skills. Although the project eventually came to an end, it remains one of the most rewarding experiences of my career.
    </p>

    <p>
      Currently, I’m seeking new opportunities to grow and contribute as a software developer. Over the past year, I’ve also been actively improving my English skills and continue to work on enhancing my fluency.
    </p>
  </Page>
</Base>
